@import "../../../styles/settings.scss";

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .col {
    flex: 0 0 calc(50% - 10px);
  }

  .col img {
    width: 100%;
    height: auto;
  }