.title {
    margin-left: 10px;
    font-size: 24px;
}

.productRow {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.productName {
  margin-left: 10px;
  font-size: 20px;
}

.productPrice {
  margin-left: 10px;
  font-size: 16px;
}

.quantityLabel {
    margin-left: 10px;
    font-size: 16px;
}

.quantityInput {
    margin-left: 10px;
    font-size: 16px;
    width: 40px;
    text-align: center;
}

.descriptionLabel {
  margin-left: 10px;
  font-size: 16px;
}

.descriptionInput {
    margin-left: 10px;
    font-size: 16px;
}

.removeButton {
    margin-left: 10px;
}

.cartValue {
    margin-left: 10px;
    font-size: 20px;
}

.summaryButton {
    margin-left: 10px;
}