* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.product-image {
    width: 400px;
    height: auto;
}

.additional-product-image {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.priceContainer {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    justify-content: center;

}

.infoContainer {
    margin: auto;
}

.price {
    margin-right: 10px;
    font-size: 24px;
}

.input {
    width: 50px;
    margin-left: 10px;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.description {
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: 24px;
}

.gallery {
    margin: 50px 0 ;
}

.product-image:hover {
    transform: scale(1.1);
  }

  .additional-product-image:hover {
    transform: scale(1.1);
  }